::-webkit-scrollbar {
    display: none;
}

.logout__container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.logout__container > button {
    text-transform: inherit !important;
    background-color: #1167b1 !important;
    color: white;
    padding-right: 10px;
    margin-right: 25px;
    align-items: center;
    transition: .3s;
}

.logout__container > button:hover {
    background-color: #5088b9 !important ;
}

.avatar {
    margin-left: 25px;
}

.logout__container > h2 {
    padding-top: 3px;
    color: aliceblue;
    overflow-x: scroll;
    padding-left: 4px;
    padding-right: 4px;
}